# Data Wrangling 2 - Data Reformatting

## Restructuring Data
Depending on where you obtain your data, you might receive it in one of two formats. These are referred to as Wide Data or Long Data. The wide data format is one where each column has uniquely one type of value in it, e.g., all values are a temperature in Celsius, money in dollars, the name of a person, the address of the business, etc.

In [ ]:
import pandas as pd

In [ ]:
wide_data = pd.read_csv("https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/master/ch_03/data/wide_data.csv")

In [ ]:
wide_data.head()

In the above dataframe, notice that each type of measured value is a unique type of thing. In this case, they are all numbers, but `TMAX` *only* reports the maximum temperature for the day. This format is great for presentation and analysis. When running the method `df.describe()`, we obtain sensible information on each row.

In [ ]:
wide_data.describe()

Wide data is very commonly used in databases. Due to the fact that each column has a unique type of value, relational databases can host a suite of tables that all have information that is linked together through keys. This key allows us to join only the necessary tables together to get information that we need without much excess.

One drawback to this design is that it can be fairly inflexible. Imagine a scenario when you are taking a lot of measurements, and you are using a wide format to store that data. Your table might look like the following

| test | Measurement 1 | Measurement 2 | Measurement 3 |
| ---- | - | - | - |
| Observation 1 | 2 | 3 | 3 |
| Observation 2 | 5 | 3 | 2 |
| Observation 3 | 6 | 3 | 3 |
| Observation 4 | 5 | 5 | 5 |
| Observation 5 | 0 | 3 | 3 |

Then, for whatever reason, you might need to add a new measurement to your experiment. As far as your experiment is concerned, all you need to do is add a new sensor, or start asking a new question. However, if you're also doing the Database administration, you have to perform a schema change, you have to account for the previous rows of missing information (especially if it's a row that cannot be null), you need to update your documentation if you are sharing the data with anyone.

Let's contrast this with the Long Data format. With the long data format, you often see two important  columns present: 
- Key
- Value

Combining the key column with some sort of row information, we can restructure the wide format to present the way that will have fewer columns, but more rows. An example of a long table is below.

In [ ]:
long_data = pd.read_csv('https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/master/ch_03/data/long_data.csv')[['date', 'datatype', 'value']]

In [ ]:
long_data.head(15)

If we carefully compare the above table with the wide table that we examined above, we will see that all the same data is present. In this table, our key column is called `datatype` and the value associated with that datatype is called `value`. We also will notice that each value of the data is repeated 3 times, and that the values in `datatype` are the names of the columns in the wide table. In this table, we have restructured the data such that all of the columns of the previous table are compressed into these two columns. This This format would be very confusing to show another person, but it does remove the need to create new columns. If you start recording a new type of measurement, simply create another key/`datatype` value and start recording the data. This format is often found with dealing with APIs, but would also make for terrible relational database design. Additionally, any attempt at producing summary statistics on this table would be nonsensical.

Note that each format has its benefits and reasons for use. Therefore it is important to know how to switch betweent he two as needed. Let's start with how to change from long to wide. 

### Pivoting DataFrames
Converting from a long format to a wide format creates what is often called a **pivot table**. Microsoft Excel also has a functionality to create pivot tables. In pandas, the method that we call is, as you expect `pivot`. We give it a few parameters, like which column should be the index of our new table, which column contains the column names, and which column contains all the values. Doing so produces the following

In [ ]:
pivot_df = long_data.pivot(
    index='date', 
    columns='datatype',
    values='value'
)
pivot_df.head()

Now we have created a neew table that looks like the first wide thable that we created. Now, we could join this table with other datasets, or extract summary statistics.

One additional feature of Pandas is to set up your data with a **hierarchical index**. If you recall from last week, this `value` columns was actuall the temperature in Celcius. So, let's rename it as such and include the temperature in Fahrenheit.

In [ ]:
long_data.rename(columns={"value":"temp_C"}, inplace=True)
long_data["temp_F"] = (long_data.temp_C * 9/5) + 32

In [ ]:
long_data.head()

When we pass in multiple columns to the `values` argument, we end up with the following dataframe.

In [ ]:
pivot_df = long_data.pivot(
    index='date', 
    columns='datatype',
    values=['temp_C', 'temp_F']
)
pivot_df.head()

We now have two of each column name, one under Celcius, and one under Fahrenheit. Under this structure, Each higher column name actually returns a dataframe.

In [ ]:
pivot_df['temp_C'].head()

Therefore, in order to reference any single column, we need to provide (what looks like) two column names.

In [ ]:
pivot_df['temp_C']['TMAX'].head()

In [ ]:
pivot_df.temp_C.TMAX.head()

### Multi-Index
Pandas also allows for option to provide multiple indices for a particular row, just like we have provided multiple indices for a column (remember, column headers are actually treated as index objects). To utilize this, we call the familiar `set_index` object, and pass in multiple columns, in the order that they should be grouped.

In [ ]:
multi_index_df = long_data.set_index(['date', 'datatype'])
multi_index_df.head(6)

Here we have grouped the rows together based on the date, and have the `datatype` column as a second index. However, this is still our long format. Additionally, the `pivot` method expects a dataframe with only one index. To achieve a similar table as `pivot`, we can use the `unstack` method, which removes all layers of your multi-index and turns the into columns. Essentially, picture as if we have stacked the values on top of each other, and we are now unstacking them, and laying them all out into a single row.

In [ ]:
unstacked_df = multi_index_df.unstack()
unstacked_df.head()

### Melting DataFrames
Melting is the inverse action of a pivot. A pivot takes rows and combines them into a single column, melting a dataframe takes the columns of a dataframe and converts them into rows. By calling the method `melt`, we can pass in the arguments: 
- `id_vars`: which columns uniquely identify a row
- `value_vars`: which columns contains values
- `var_name`: what to name the column with the column names (default is `variable`)
- `value_name`: what to name the column with the values of those columns (default is `value`)

In [ ]:
melted_df = wide_data.melt(
    id_vars='date',
    value_vars=['TMAX', 'TMIN', 'TOBS'],
    value_name='temp_C',
    var_name='measurement'
)
melted_df.head()

Alternatively, we have the inverse of `unstack`, being `stack`. This will take the columns and stack them together, creating a multi-index in the process.

In [ ]:
stacked_series = wide_data.set_index('date').stack()

In [ ]:
stacked_series.head()

Upon inspection, we would see that this object is a series, not a dataframe. We can easily change this by calling `to_frame` and passing in the name of the column.

In [ ]:
stacked_df = stacked_series.to_frame('values')

In [ ]:
stacked_df.head()

As it stands, this dataframe has a multi-level index, however, the second layer index does not have a name.

In [ ]:
stacked_df.index

We can rename that index by intuitive method calls.

In [ ]:
stacked_df.index.rename(['date', 'datatype'], inplace=True)
stacked_df.index.names

In [ ]:
stacked_df.head()

In [5]:
long_data = pd.read_csv('https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/master/ch_03/data/long_data.csv')[['date', 'datatype', 'value']]

In [6]:
long_data.head(15)

                   date datatype  value
0   2018-10-01T00:00:00     TMAX   21.1
1   2018-10-01T00:00:00     TMIN    8.9
2   2018-10-01T00:00:00     TOBS   13.9
3   2018-10-02T00:00:00     TMAX   23.9
4   2018-10-02T00:00:00     TMIN   13.9
5   2018-10-02T00:00:00     TOBS   17.2
6   2018-10-03T00:00:00     TMAX   25.0
7   2018-10-03T00:00:00     TMIN   15.6
8   2018-10-03T00:00:00     TOBS   16.1
9   2018-10-04T00:00:00     TMAX   22.8
10  2018-10-04T00:00:00     TMIN   11.7
11  2018-10-04T00:00:00     TOBS   11.7
12  2018-10-05T00:00:00     TMAX   23.3
13  2018-10-05T00:00:00     TMIN   11.7
14  2018-10-05T00:00:00     TOBS   18.9

If we carefully compare the above table with the wide table that we examined above, we will see that all the same data is present. In this table, our key column is called `datatype` and the value associated with that datatype is called `value`. We also will notice that each value of the data is repeated 3 times, and that the values in `datatype` are the names of the columns in the wide table. In this table, we have restructured the data such that all of the columns of the previous table are compressed into these two columns. This This format would be very confusing to show another person, but it does remove the need to create new columns. If you start recording a new type of measurement, simply create another key/`datatype` value and start recording the data. This format is often found with dealing with APIs, but would also make for terrible relational database design. Additionally, any attempt at producing summary statistics on this table would be nonsensical.

Note that each format has its benefits and reasons for use. Therefore it is important to know how to switch betweent he two as needed. Let's start with how to change from long to wide. 

### Pivoting DataFrames
Converting from a long format to a wide format creates what is often called a **pivot table**. Microsoft Excel also has a functionality to create pivot tables. In pandas, the method that we call is, as you expect `pivot`. We give it a few parameters, like which column should be the index of our new table, which column contains the column names, and which column contains all the values. Doing so produces the following

In [7]:
pivot_df = long_data.pivot(
    index='date', 
    columns='datatype',
    values='value'
)
pivot_df.head()

datatype             TMAX  TMIN  TOBS
date
2018-10-01T00:00:00  21.1   8.9  13.9
2018-10-02T00:00:00  23.9  13.9  17.2
2018-10-03T00:00:00  25.0  15.6  16.1
2018-10-04T00:00:00  22.8  11.7  11.7
2018-10-05T00:00:00  23.3  11.7  18.9

Now we have created a neew table that looks like the first wide thable that we created. Now, we could join this table with other datasets, or extract summary statistics.

One additional feature of Pandas is to set up your data with a **hierarchical index**. If you recall from last week, this `value` columns was actuall the temperature in Celcius. So, let's rename it as such and include the temperature in Fahrenheit.

In [8]:
long_data.rename(columns={"value":"temp_C"}, inplace=True)
long_data["temp_F"] = (long_data.temp_C * 9/5) + 32

In [9]:
long_data.head()

                  date datatype  temp_C  temp_F
0  2018-10-01T00:00:00     TMAX    21.1   69.98
1  2018-10-01T00:00:00     TMIN     8.9   48.02
2  2018-10-01T00:00:00     TOBS    13.9   57.02
3  2018-10-02T00:00:00     TMAX    23.9   75.02
4  2018-10-02T00:00:00     TMIN    13.9   57.02

When we pass in multiple columns to the `values` argument, we end up with the following dataframe.

In [10]:
pivot_df = long_data.pivot(
    index='date', 
    columns='datatype',
    values=['temp_C', 'temp_F']
)
pivot_df.head()

                    temp_C             temp_F
datatype              TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01T00:00:00   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02T00:00:00   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03T00:00:00   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04T00:00:00   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05T00:00:00   23.3  11.7  18.9  73.94  53.06  66.02

We now have two of each column name, one under Celcius, and one under Fahrenheit. Under this structure, Each higher column name actually returns a dataframe.

In [11]:
pivot_df['temp_C'].head()

datatype             TMAX  TMIN  TOBS
date
2018-10-01T00:00:00  21.1   8.9  13.9
2018-10-02T00:00:00  23.9  13.9  17.2
2018-10-03T00:00:00  25.0  15.6  16.1
2018-10-04T00:00:00  22.8  11.7  11.7
2018-10-05T00:00:00  23.3  11.7  18.9

Therefore, in order to reference any single column, we need to provide (what looks like) two column names.

In [12]:
pivot_df['temp_C']['TMAX'].head()

date
2018-10-01T00:00:00    21.1
2018-10-02T00:00:00    23.9
2018-10-03T00:00:00    25.0
2018-10-04T00:00:00    22.8
2018-10-05T00:00:00    23.3
Name: TMAX, dtype: float64

In [13]:
pivot_df.temp_C.TMAX.head()

date
2018-10-01T00:00:00    21.1
2018-10-02T00:00:00    23.9
2018-10-03T00:00:00    25.0
2018-10-04T00:00:00    22.8
2018-10-05T00:00:00    23.3
Name: TMAX, dtype: float64

### Multi-Index
Pandas also allows for option to provide multiple indices for a particular row, just like we have provided multiple indices for a column (remember, column headers are actually treated as index objects). To utilize this, we call the familiar `set_index` object, and pass in multiple columns, in the order that they should be grouped.

In [14]:
multi_index_df = long_data.set_index(['date', 'datatype'])
multi_index_df.head(6)

                              temp_C  temp_F
date                datatype
2018-10-01T00:00:00 TMAX        21.1   69.98
                    TMIN         8.9   48.02
                    TOBS        13.9   57.02
2018-10-02T00:00:00 TMAX        23.9   75.02
                    TMIN        13.9   57.02
                    TOBS        17.2   62.96

Here we have grouped the rows together based on the date, and have the `datatype` column as a second index. However, this is still our long format. Additionally, the `pivot` method expects a dataframe with only one index. To achieve a similar table as `pivot`, we can use the `unstack` method, which removes all layers of your multi-index and turns the into columns. Essentially, picture as if we have stacked the values on top of each other, and we are now unstacking them, and laying them all out into a single row.

In [15]:
unstacked_df = multi_index_df.unstack()
unstacked_df.head()

                    temp_C             temp_F
datatype              TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01T00:00:00   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02T00:00:00   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03T00:00:00   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04T00:00:00   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05T00:00:00   23.3  11.7  18.9  73.94  53.06  66.02

### Melting DataFrames
Melting is the inverse action of a pivot. A pivot takes rows and combines them into a single column, melting a dataframe takes the columns of a dataframe and converts them into rows. By calling the method `melt`, we can pass in the arguments: 
- `id_vars`: which columns uniquely identify a row
- `value_vars`: which columns contains values
- `var_name`: what to name the column with the column names (default is `variable`)
- `value_name`: what to name the column with the values of those columns (default is `value`)

In [16]:
melted_df = wide_data.melt(
    id_vars='date',
    value_vars=['TMAX', 'TMIN', 'TOBS'],
    value_name='temp_C',
    var_name='measurement'
)
melted_df.head()

         date measurement  temp_C
0  2018-10-01        TMAX    21.1
1  2018-10-02        TMAX    23.9
2  2018-10-03        TMAX    25.0
3  2018-10-04        TMAX    22.8
4  2018-10-05        TMAX    23.3

Alternatively, we have the inverse of `unstack`, being `stack`. This will take the columns and stack them together, creating a multi-index in the process.

In [17]:
stacked_series = wide_data.set_index('date').stack()

In [18]:
stacked_series.head()

date
2018-10-01  TMAX    21.1
            TMIN     8.9
            TOBS    13.9
2018-10-02  TMAX    23.9
            TMIN    13.9
dtype: float64

Upon inspection, we would see that this object is a series, not a dataframe. We can easily change this by calling `to_frame` and passing in the name of the column.

In [19]:
stacked_df = stacked_series.to_frame('values')

In [20]:
stacked_df.head()

                 values
date
2018-10-01 TMAX    21.1
           TMIN     8.9
           TOBS    13.9
2018-10-02 TMAX    23.9
           TMIN    13.9

As it stands, this dataframe has a multi-level index, however, the second layer index does not have a name.

In [21]:
stacked_df.index

MultiIndex([('2018-10-01', 'TMAX'),
            ('2018-10-01', 'TMIN'),
            ('2018-10-01', 'TOBS'),
            ('2018-10-02', 'TMAX'),
            ('2018-10-02', 'TMIN'),
            ('2018-10-02', 'TOBS'),
            ('2018-10-03', 'TMAX'),
            ('2018-10-03', 'TMIN'),
            ('2018-10-03', 'TOBS'),
            ('2018-10-04', 'TMAX'),
            ('2018-10-04', 'TMIN'),
            ('2018-10-04', 'TOBS'),
            ('2018-10-05', 'TMAX'),
            ('2018-10-05', 'TMIN'),
            ('2018-10-05', 'TOBS'),
            ('2018-10-06', 'TMAX'),
            ('2018-10-06', 'TMIN'),
            ('2018-10-06', 'TOBS'),
            ('2018-10-07', 'TMAX'),
            ('2018-10-07', 'TMIN'),
            ('2018-10-07', 'TOBS'),
            ('2018-10-08', 'TMAX'),
            ('2018-10-08', 'TMIN'),
            ('2018-10-08', 'TOBS'),
            ('2018-10-09', 'TMAX'),
            ('2018-10-09', 'TMIN'),
            ('2018-10-09', 'TOBS'),
            ('2018-10-10', 'TMAX'),
            ('2018-10-10', 'TMIN'),
            ('2018-10-10', 'TOBS'),
            ('2018-10-11', 'TMAX'),
            ('2018-10-11', 'TMIN'),
            ('2018-10-11', 'TOBS'),
            ('2018-10-12', 'TMAX'),
            ('2018-10-12', 'TMIN'),
            ('2018-10-12', 'TOBS'),
            ('2018-10-13', 'TMAX'),
            ('2018-10-13', 'TMIN'),
            ('2018-10-13', 'TOBS'),
            ('2018-10-14', 'TMAX'),
            ('2018-10-14', 'TMIN'),
            ('2018-10-14', 'TOBS'),
            ('2018-10-15', 'TMAX'),
            ('2018-10-15', 'TMIN'),
            ('2018-10-15', 'TOBS'),
            ('2018-10-16', 'TMAX'),
            ('2018-10-16', 'TMIN'),
            ('2018-10-16', 'TOBS'),
            ('2018-10-17', 'TMAX'),
            ('2018-10-17', 'TMIN'),
            ('2018-10-17', 'TOBS'),
            ('2018-10-18', 'TMAX'),
            ('2018-10-18', 'TMIN'),
            ('2018-10-18', 'TOBS'),
            ('2018-10-19', 'TMAX'),
            ('2018-10-19', 'TMIN'),
            ('2018-10-19', 'TOBS'),
            ('2018-10-20', 'TMAX'),
            ('2018-10-20', 'TMIN'),
            ('2018-10-20', 'TOBS'),
            ('2018-10-21', 'TMAX'),
            ('2018-10-21', 'TMIN'),
            ('2018-10-21', 'TOBS'),
            ('2018-10-22', 'TMAX'),
            ('2018-10-22', 'TMIN'),
            ('2018-10-22', 'TOBS'),
            ('2018-10-23', 'TMAX'),
            ('2018-10-23', 'TMIN'),
            ('2018-10-23', 'TOBS'),
            ('2018-10-24', 'TMAX'),
            ('2018-10-24', 'TMIN'),
            ('2018-10-24', 'TOBS'),
            ('2018-10-25', 'TMAX'),
            ('2018-10-25', 'TMIN'),
            ('2018-10-25', 'TOBS'),
            ('2018-10-26', 'TMAX'),
            ('2018-10-26', 'TMIN'),
            ('2018-10-26', 'TOBS'),
            ('2018-10-27', 'TMAX'),
            ('2018-10-27', 'TMIN'),
            ('2018-10-27', 'TOBS'),
            ('2018-10-28', 'TMAX'),
            ('2018-10-28', 'TMIN'),
            ('2018-10-28', 'TOBS'),
            ('2018-10-29', 'TMAX'),
            ('2018-10-29', 'TMIN'),
            ('2018-10-29', 'TOBS'),
            ('2018-10-30', 'TMAX'),
            ('2018-10-30', 'TMIN'),
            ('2018-10-30', 'TOBS'),
            ('2018-10-31', 'TMAX'),
            ('2018-10-31', 'TMIN'),
            ('2018-10-31', 'TOBS')],
           names=['date', None])

We can rename that index by intuitive method calls.

In [22]:
stacked_df.index.rename(['date', 'datatype'], inplace=True)
stacked_df.index.names

FrozenList(['date', 'datatype'])

In [23]:
stacked_df.head()

                     values
date       datatype
2018-10-01 TMAX        21.1
           TMIN         8.9
           TOBS        13.9
2018-10-02 TMAX        23.9
           TMIN        13.9